.App {
  text-align: center;
}
.btn {
  margin: 20px 0;
}
.number {
  border: 3px solid black;
  width: 100px;
  height: 100px;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
}

.numbers {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  justify-content: space-around;
}